.fm-main-action {
  width: 56px;
  height: 56px;
  color: #ffffff;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 24px;
  border: 0;
  background: transparent;
  z-index: 100;
  cursor: pointer;
}
.fm-main-action:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #51a5a1;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
  z-index: 10;
}
.fm-main-action .fm-icon-main-action {
  position: relative;
  z-index: 11;
  transition: transform 0.2s;
}
.fm-main-action .fm-main-actions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.fm-main-action .fm-main-actions button {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
  background: #f6f7f8;
  font-size: 16px;
  color: #51a5a1;
  cursor: pointer;
  transition: transform 0.15s;
}
.fm-main-action .fm-main-actions button label {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 300%;
  margin-left: -318%;
  text-align: right;
  color: #f6f7f8;
  font-size: 14px;
  line-height: 24px;
  opacity: 0;
  transition: opacity 0.15s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fm-main-action.active .fm-icon-main-action {
  transform: rotate(135deg);
}
.fm-main-action.active button label {
  opacity: 1;
}
.main-action-trigger-close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(26, 51, 49, 0.5);
  z-index: 99;
  z-index: 1;
  transition: opacity 0.3s;
}
.main-action-trigger-close.ng-leave,
.main-action-trigger-close.ng-enter.ng-enter-active {
  opacity: 1;
}
.main-action-trigger-close.ng-enter,
.main-action-trigger-close.ng-leave.ng-leave-active {
  opacity: 0;
}
