@import 'vars';

.fm-cards-wrapper {
  padding: 12px 12px 0;
}

.fm-card {
  display: block;
  background: @white;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: @shadow;

  header {
    margin-bottom: 8px;
    .fm-card-icon-type {
      color: @corporative;
    }
    .fm-card-icon-settings {
      float: right;
      color: @gray4;
    }
  }

  .fm-cad-who {
    color: @corporative;
  }
}
