.fm-cards-wrapper {
  padding: 12px 12px 44px;
}
.fm-card {
  display: block;
  background: #ffffff;
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
}
.fm-card header {
  margin-bottom: 8px;
}
.fm-card header .fm-card-icon-type {
  color: #51a5a1;
}
.fm-card header .fm-card-icon-settings {
  float: right;
  color: #9a999d;
}
.fm-card .fm-cad-who {
  color: #51a5a1;
}
.fm-empty-card-list {
  text-align: center;
  margin-top: 50px;
}
.fm-empty-card-list .fm-button {
  margin-top: 10px;
}
