[disabled] {
  opacity: 0.5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
input,
button {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #faf9f3;
  font-family: sans-serif;
}
.fm-header {
  height: 56px;
  padding: 0 6px;
  line-height: 24px;
}
.fm-header h4 {
  display: inline-block;
  line-height: 56px;
  margin-left: 8px;
}
.fm-header .fm-icon ~ h4 {
  margin-left: 16px;
}
.fm-header.corporative {
  background: #51a5a1;
  color: #ffffff;
}
.fm-form {
  padding: 0 16px;
}
.fm-form-row {
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
}
.fm-form-row:first-child .fm-input,
.fm-form-row.first-child .fm-input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
.fm-form-row:last-child .fm-input,
.fm-form-row.last-child .fm-input {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fm-form-row:last-child::before,
.fm-form-row.last-child::before {
  display: none;
}
.fm-form-row::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1.1px;
  background: #ecedef;
  z-index: 1;
}
.fm-input {
  display: inline-block;
  width: 100%;
  height: 42px;
  padding: 8px 16px;
  border: 0;
  line-height: 34px;
  font-size: 14px;
  color: #1a3331;
  background: #fff;
}
.fm-select .fm-input {
  background: #eee;
}
.fm-input-error {
  color: #bf0310;
  background: #f6f7f8;
  padding: 2px 16px;
  font-size: 14px;
}
.fm-button {
  position: relative;
  width: 100%;
  height: 42px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background: #51a5a1;
}
.fm-button:active {
  opacity: 0.8;
}
.fm-button .fa {
  position: absolute;
  right: 16px;
  line-height: 42px;
}
.fm-wrapper-push-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
}
/* icon */
.fm-icon {
  height: 48px;
  width: 48px;
  font-size: 24px;
  background: transparent;
  border: 0;
  color: inherit;
}
.fm-icon i {
  color: inherit;
}
/* typography */
h1 {
  font-size: 32px;
  color: inherit;
}
h2 {
  font-size: 28px;
  color: inherit;
}
h3 {
  font-size: 26px;
  color: inherit;
}
h4 {
  font-size: 20px;
  color: inherit;
}
p {
  font-size: 16px;
}
.fm-regular {
  font-weight: normal;
}
/* select */
.fm-select > ul > li {
  display: inline-block;
}
.fm-drop-down {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
}
.open .fm-drop-down {
  display: block;
}
/* tabs */
.fm-tabs {
  position: relative;
  width: 100%;
  height: 48px;
  background: #51a5a1;
  color: #ffffff;
}
.fm-tabs .fm-tab {
  float: left;
  height: 100%;
  line-height: 48px;
  padding: 0 12px;
  color: inherit;
  cursor: pointer;
}
.fm-indicator {
  position: absolute;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background: #ffffff;
  transition: left 1s, width 1s;
}
.fm-wrapper-panes {
  transition: transform 1s;
}
.fm-panes {
  width: 100%;
  white-space: nowrap;
}
.fm-panes .fm-pane {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
