.fm-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 56px;
  overflow: hidden;
  overflow-y: scroll;
}
.fm-screen.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
}
.fm-screen.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.fm-screen.ng-leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
}
.fm-screen.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.fm-screen.sticky-active {
  padding-top: 104px;
}
.fm-header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 56px;
  padding: 0 6px;
  line-height: 24px;
}
.fm-header h4 {
  display: inline-block;
  line-height: 56px;
  margin-left: 8px;
}
.fm-header .fm-icon ~ h4 {
  margin-left: 16px;
}
.fm-header.corporative {
  background: #51a5a1;
  color: #ffffff;
}
