/* select */
.fm-select {
  cursor: pointer;
}
.fm-select > ul > li {
  display: inline-block;
}
.fm-drop-down {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
}
.open .fm-drop-down {
  display: block;
}
