/* typography */
h1 {
  font-size: 32px;
  color: inherit;
}

h2 {
  font-size: 28px;
  color: inherit;
}

h3 {
  font-size: 26px;
  color: inherit;
}

h4 {
  font-size: 20px;
  color: inherit;
}

p {
  font-size: 16px;
}

.fm-regular {
  font-weight: normal;
}