<header class="fm-header">
  <button class="fm-icon left" ng-click="back()">
    <i class="fa fa-angle-left"></i>
  </button>
  <h4 class="fm-regular">Regístrate</h4>
</header>

<form novalidate class="fm-form fm-content" name="singupForm">
  <div class="fm-form-row">
    <label>EMAIL</label>
    <input class="fm-input" type="text" ng-model="email" name="email" ng-required="true" email placeholder="example@domain.com">
    <p class="fm-input-error"
       ng-show="singupForm.$submitted && singupForm.email.$error.required">
       Obligatorio
    </p>
    <p class="fm-input-error"
        ng-show="singupForm.$submitted && singupForm.email.$error.email">
      Debe ser un email válido
    </p>
  </div>

  <div class="fm-form-row">
    <label>CONTRASEÑA</label>
    <input class="fm-input" type="password" ng-model="password" name="password" ng-required="true" ng-minlength="6" placeholder="Contraseña">
    <p class="fm-input-error" ng-show="singupForm.$submitted && singupForm.password.$error.minlength">Usa 6 carácteres como mínimo</p>
    <p class="fm-input-error" ng-show="singupForm.$submitted && singupForm.password.$error.required">Obligatorio</p>
  </div>

  <div class="fm-form-row last-child">
    <label>REPITE LA CONTRASEÑA</label>
    <input class="fm-input" type="password" ng-model="passwordRepeat" name="passwordRepeat" ng-required="true" placeholder="Repite la contraseña">
    <p class="fm-input-error" ng-show="singupForm.$submitted && singupForm.password.$viewValue !== singupForm.passwordRepeat.$viewValue">Debe ser igual que la contraseña</p>
  </div>

  <div class="fm-wrapper-push-bottom">
    <button class="fm-button" fm-button
            loading="acceptButton.loading"
            active="!acceptButton.loading"
            ng-click="save()">
      ACEPTAR
    </button>
  </div>
</form>
