@import 'vars';

.sticky-active .sticky-class {
  position: fixed;
  top: -56px;
  left: 0;
  right: 0;
  z-index: 1;
}

.fm-screen {
  height: 100%;
  position: relative;
  overflow-x: hidden;

  &.ng-enter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
  }

  &.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  &.ng-leave {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
  }

  &.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  &.sticky-active {
    //the sum of height of header and tabs
    padding-top: 104px;
  }
}

.fm-header {
  height: 56px;
  padding: 0 6px;
  line-height: 24px;

  h4 {
    display: inline-block;
    line-height: 56px;
    margin-left: 8px;
  }

  .fm-icon ~ h4 {
    margin-left: 16px;
  }

  &.corporative {
    background: @corporative;
    color: @white;
  }
}
