/* select */
.fm-select {
  > ul {
    > li {
      display: inline-block;
    }
  }
  .fm-input {
    border-radius: 0;
  }
  cursor: pointer;
}

.fm-select-drop-down {
  display: none;
  position: absolute;
  top: 0;

  .open & {
    display: block;
  }
}
