<header class="fm-header">
  <button class="fm-icon" ng-click="back()">
    <i class="fa fa-arrow-left"></i>
  </button>
  <h4 class="fm-regular">Nuevo piso</h4>
</header>

<form novalidate class="fm-form" name="newFlatForm">
  <div class="fm-form-row">
    <label>Nombre del piso:</label>
    <input class="fm-input" type="text" ng-model="flat.name" name="name"
        ng-required="true" placeholder="my nice flat...">
    <p class="fm-input-error" ng-show="newFlatForm.$submitted &&
                                       newFlatForm.name.$error.required">
      Obligatorio
    </p>
  </div>

  <div class="fm-form-row last-child">
    <label>Tus compañeros:</label>
    <input class="fm-input" type="text" ng-model="flat.mates" name="mates" ng-required="true" groupemail placeholder="compi@domain.com, compi2@domain.com">
    <p class="fm-input-error" ng-show="newFlatForm.$submitted && newFlatForm.mates.$error.groupemail">Algún email es incorrecto</p>
    <p class="fm-input-error" ng-show="newFlatForm.$submitted && newFlatForm.mates.$error.required">Obligatorio</p>
  </div>

  <div class="fm-wrapper-push-bottom">
    <button class="fm-button" fm-button
            loading="acceptButton.loading"
            active="!acceptButton.loading"
            ng-click="createFlat()">
      ACEPTAR
    </button>
  </div>
</form>
