<header class="fm-header">
  <button class="fm-icon" ng-click="back()">
    <i class="fa fa-arrow-left"></i>
  </button>
  <h4 class="fm-regular">Nueva Tarea</h4>
</header>

<form novalidate class="fm-form" name="newTaskForm">
  <div class="fm-form-row">
    <label>Descripción:</label>
    <input class="fm-input" type="text" ng-model="newTask.title" name="title"
           ng-required="true" placeholder="escribe la descripción de la tarea...">
    <p class="fm-input-error"
       ng-show="newTaskForm.$submitted && newTaskForm.title.$error.required">
      Obligatorio
    </p>
  </div>

  <div class="fm-select fm-form-row" fm-select
       options="periodOptions"
       selected="newTask.period"
       label="'Periodo de repetición:'">
  </div>

  <div class="fm-wrapper-push-bottom">
    <button class="fm-button" fm-button
            loading="acceptButton.loading"
            active="!acceptButton.loading"
            ng-click="save()">
      ACEPTAR
    </button>
  </div>

  <ul class="fm-form-row">
    <label class="underline">Subtareas</label>
    <!-- TODO improve the fm-spin-subtask directiva and the error if there isn't
    any subtask -->
    <li class="fm-spin-subtask" ng-repeat="subtask in newTask.subtasks track by $index">
      <div fm-spin-subtask value="subtask.value"></div>
    </li>
    <p class="fm-input-error"
     ng-show="newTaskForm.$submitted && !newTask.subtasks.length">
      Almenos debe haber una subtask
    </p>
  </ul>
  <button class="fm-button-add-subtask" ng-click="addNewSubtask($event)">
    Añadir nueva subtarea
  </button>
</form>
